* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* opcional pero recomendado */
}

:root {
    /* --width: 1419px; */
    --width: calc((100vw / 4) * 2.8);
    background-color: black;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: var(--width);
    margin-top: calc(var(--width) * 0.013);
    height: calc(var(--width) * 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(var(--width) * 0.013);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Mouse Memoirs', cursive;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-image {
    height: calc(var(--width) * 0.15);
    width: auto;
    object-fit: contain;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.bank-button {
    width: calc(var(--width) * 0.1);
    height: calc(var(--width) * 0.03);
    background: rgba(255, 181, 181, 0.23);
    color: white;
    border: 1px solid rgba(255, 181, 181, 0.23);
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    font-family: "Urbanist", sans-serif;
    font-size: calc(var(--width) * 0.012);
    font-weight: 800;
    margin: calc(var(--width) * 0.004) calc(var(--width) * 0.008);
}

.bank-button:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: translateY(-1px);
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 300px;
    padding-top: calc(var(--width) * 0.040);
    gap: calc(var(--width) * 0.005);
}

.device-status {
    display: inline-flex;
    align-items: center;
    gap: calc(var(--width) * 0.005);
}

.status-text {
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    font-size: calc(var(--width) * 0.016);
    font-weight: 400;
}

.status-led {
    width: calc(var(--width) * 0.03);
    height: calc(var(--width) * 0.03);
    object-fit: contain;
}

#superfoot-img-container {
    position: relative;
    width: var(--width);
    height: calc(var(--width) / 2);
    background-image: url('../../assets/superfoot-body.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 0;
    z-index: 0;
}

.led-hidden {
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.led-visible {
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
}

.pedals-top,
.pedals-bottom {
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.12s ease-in-out;
}

.pedal-hidden {
    opacity: 0;
}

.pedal-visible {
    opacity: 1;
}